/* APP-css */
.App-container{
  padding: 5px;
}
/* Header-css */
.logo{
  height: 50px;
  cursor: pointer;
}
.header-container{
border: 1px solid black;
 display: flex;
 justify-content: space-between;
 padding: 0 40px;

}
.nav-items {
  display: flex;
  list-style-type: none;
  gap: 30px;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav-items li {
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  color: #3d4152;
}

.nav-items li:hover {
  color: #fc8019; /* Swiggy orange */
}
/* Body */
.body-cointain{
  display: flex;
  flex-wrap: wrap;
}
/* card */
.card-container{
  white-space: nowrap;        /* stay on one line */
  overflow: hidden;           /* hide extra text */
  text-overflow: ellipsis;
  background-color: rgb(203, 199, 199);
  width: 200px;
  height: 400px;
  margin: 5px;
  padding: 5px;
  border-radius: 1rem;
  cursor: pointer;
}
.card-container img {
  width: 95%;
  height: 45%;
  padding: 4px;
}